// See bs3-fa4-helpers-README for examples.


/*
 * .alert-absolute-bottom, .alert-fixed-bottom
 * Sticks an alert to the the bottom of the page or the browser window.
 */

.alert-absolute-bottom,
.alert-fixed-bottom {
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 10px;
	margin: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.alert-fixed-bottom {
	position: fixed;
}

.alert-absolute-bottom {
	position: absolute;
}




/*-----------------*\
    FORM CONTROLS
\*-----------------*/





/*
 * Automatically highlights a form-control with invalid input.
 * Similar to including .has-error on the parent .form-group.
 */

$bs3-state-danger-text: #a94442;
$bs3-state-danger-bg:   #f2dede;

.form-control-highlight-invalid {
  &:invalid {
    color: $bs3-state-danger-text;
    background-color: $bs3-state-danger-bg;
  }
}


/*
 * .form-control-noresize
 * Removes the resize options from a textarea.
 */

 .form-control-noresize {
   resize: none;
 }


/*
 * .form-control-nospinner
 * Removes the nuisance spinner (up and down arrow buttons) from a number input field.
 */

//sass-lint:disable no-vendor-prefixes
.form-control-nospinner {
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}
//sass-lint:enable no-vendor-prefixes


/*
 * .fa-rotate-animate
 * Used alongside Bootstrap 3's collapse and dropdown plugins.
 * When the dropdown is expanded, the right caret rotates 90 degrees to point down.
 * Simply include the .fa-rotate-animate class on the icon inside the toggle button.
 */

.fa-rotate-animate {
	transition: transform 250ms;
}

[data-toggle='dropdown'],
[data-toggle='collapse'] {
	&[aria-expanded='true'] .fa-rotate-animate {
		transform: rotate(90deg);
	}
}
